<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexis.android_studio_ile_isim_sehir_oyunu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/isimsehiricon"
        android:label="Android Studio İle İsim Şehir Oyunu"
        android:roundIcon="@mipmap/isimsehiricon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_studio_ile_isim_sehir_oyunu">
        <activity
            android:name=".NormalOyunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SureliOyunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>